.Red{
    background-color: red;
}

.Yellow{
    background-color: yellow;
}

.Lilac{
    background-color: #C8A2C8;
}

.Orange-red{
    background-color: #FF5349;
}

.Green{
    background-color: green;
}

.Blue-green{
    background-color: #0d98ba;
}